# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
a
protobuf/try_walls/create_amessage
protobuf/try_walls/read_amessage

# Temporary Files
*~
*.swo
*.swp
*.pyc
